.css-cust {
	position: relative;
}
.no-block {
	display: inline;
}
.css-pointer:hover {
	cursor: pointer;
}
.css-right-align {
	position: relative;
	left: 40px;
}
.list-people {
	position: relative;
}
.list-people-show {
	display: block;
    position: absolute;
    top: 4px;
    left: 0;
    width: auto;
    background: #ffffff;
    height: auto;
    z-index: 1;    
}
.list-group-wrap {
	height: 333px;
	overflow-y: scroll;
}
.list-people-hide {
	display: none;
}
.cust-btn-close {
	display: block;
}
.results-hide {
	display: none;
}
.result-name {
	
}
.result-sum {

}